---
name: Lint and Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'CODE_OF_CONDUCT.md'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'CODE_OF_CONDUCT.md'
      - 'LICENSE'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Check Google Java Style
        uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--skip-reflowing-long-strings --replace"
          skip-commit: true
          files: src/**/java/**/*.java
      - name: Print diffs
        run: git --no-pager diff --exit-code
      - name: Test
        run: mvn -B test --file pom.xml
